name: rust ci
on:
  push:
    branches:
    - main
  pull_request:
    # Don't run on documentation-only changes
    paths-ignore: ["**.md"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: langston-barrett/gha/.github/workflows/rust-ci.yml@64f9da15e27dbbd201568c45a26ddeea52091f09
    with:
      bench: false
      os: ubuntu-24.04